*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.main-div {

    display: flex;
    
  
}
.logo-div {
    width: 50%;
    min-height: 50px;
    float: left;
    color:whitesmoke ;
    font-weight: 500;
    line-height: 50px;
    font-size:x-large;
    padding-left: 10px;
}
.nav-div{
    width: 50%;
    min-height: 50px;
    color: aliceblue;
    line-height: 50px;
    font-weight: bold;
}
.nav-div ul{
    display: flex;
    justify-content: space-between;
    line-height: 50px; 
    padding: 0 60px ;
}

.nav-div li{
    list-style-type: none;

}
.nav-div a{
    color: rgb(15, 136, 242);
    text-decoration:none;
  
}
.king-div{
    background-image: url("../images/music-2.png");
    background-size: cover;
    background-position: top;
    height: 70vh;
    width: 99vw;
    margin-bottom: 10px;
}
.header-content{
    color:aliceblue;
    text-align: center;
    padding-top: 20%;
}

.hi{
    padding-bottom: 15px;
}

.section{
    width: 100%;
    min-height: 480px;
    margin-bottom: 20px;
    
}
.sec1{
    width: 20%;
    float: left;
   margin-left: 10%;
   background-color: antiquewhite;
   text-align: center;
   border: 3px solid rgb(17, 233, 222);
   border-radius: 20px;
}
.sec2{
    width: 20%;
    text-align: center;
    float: left;
    background-color: antiquewhite;
    border: 3px solid rgb(17, 233, 222);
    border-radius: 20px;

}
.sec3{
    width: 20%;
    text-align: center;
    float: left;
    background-color: antiquewhite;
    margin-right: 10px;
    border: 3px solid rgb(17, 233, 222);
    border-radius: 20px;
    font-weight: bold;
}

.section :nth-child(2)
{
    margin: 0 10%;
}
.section::after{
    display: block;
    content: "";
    clear: both;
}
body {
    background-color: rgb(233, 233, 242);
}
ul{
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}
#drop-div{
    display: none;
}
li{
    text-decoration: none;
    list-style-type: none;
}


.img {
    border-top-left-radius:15px; 
    border-top-right-radius:15px;
}
.h3 {
    padding-bottom: 10px;
}

.f-div{
    width: 100%;
    min-height: 250px;
    
    
}
.f1-div{
    width: 50%;
    min-height: 250px;
    float: left;
    text-align: left;
    font-size: x-large;
    padding: 70px 0 0 50px;
    background-color: rgb(173, 169, 169);
   

}
.f2-div{
    width: 50%;
    min-height: 250px;
    float: right;
    background-color: rgb(173, 169, 169);
    text-align: left;
    font-size: x-large;
    padding: 50px 0 0  50px;
}
.f2-div h3{
   text-align: center;
   padding-bottom:10px;
}
.f2-div p{
    padding: 0 20px 0 30px;
    margin-bottom:5px ;
}

.icons{
    text-align: center;
}    
 .f2-div i{
    font-size: 50px;
    padding-left: 20px;
    
 }
 @media screen and (max-width:1025px){
    .king-div{
        height: 80vh;
        width: 99vw;
    }
    .section{
        min-height: 500px;
    }
    .sec1  {
        width: 30%;
        margin: 0 20px ;
    }
    .section :nth-child(2)
    {
        width: 30%;
        margin:0px  15px 20px  10px;
    }
    .sec3 {
        width: 30%;
        margin-left: 10px;
    }

    .f-div{
        margin-top: 20px;
        min-height: 200px;
    }
    .f2-div i{
        font-size: 4vmin;
        min-height: 10px;
    }
    .f1-div{
        width:50%;
        min-height: 10px ;
        padding-top: 38px;
    }
    .f2-div{
        width:50%;
        padding-top: 15px;
        min-height: 200px;
        font-size: 20px;
    }
    
 }

 
 @media screen and (max-width:769px) {
    .king-div {
        height:80vh;
        width: 99vw;
    }
    
    .nav-div ul{
        display: none;
    }
    .sec1{
        width: 70%;
        margin-left: 110px;
        margin-bottom: 15px;
        background-color: antiquewhite;
     
    }
    
   
    .section :nth-child(2)
    {
        width: 70%;
        background-color: antiquewhite;
        margin-left: 110px;
    }
    .sec3{
        width: 70%;
        margin:15px 0px 15px 110px; 
        background-color: antiquewhite;
    }
    .f-div{
        min-height: 250px;
    }
    .f1-div{
        width: 100%;
        min-height: 50px;
       font-size: 2vmin;
       padding-top: 10px;
    }
    .f2-div{
        width: 100%;
        font-size: 2vmin;
        min-height: 10px;
        padding: 0 ;
    }
    .icons i{
        font-size: 4vmin;
        padding-bottom: 0;
        
    }

 }

 @media screen and (max-width:426px) {
    body{
        background-color: whitesmoke;
    }
    .king-div {
        height: 80vh;
        width: 99vw;
    }
    .nav-div ul{
        display: none;
    }
    .sec1{
        width: 100%;
        margin: 0 0 10px 0;
        background-color: antiquewhite;
    }
    .sec2{
        
        margin: 0;
        
        
    }
    .sec3{
        width: 100%;
        margin: 0 0 10px 0;
        background-color: antiquewhite;

        
    }
    .section :nth-child(2)
    {
        width: 100%;
    margin: 0 0 10px;
    background-color: antiquewhite;
    }
    .f-div{
        min-height: 290px;
        margin: 0;
    }
    .f1-div{
        width: 100%;
        min-height: 50px;
       font-size: 4vmin;
       padding-top: 10px;
    }
    .f2-div{
        width: 100%;
        font-size: 4vmin;
        padding: 0;
    }
    .icons i{
        font-size: 5vmin;
        padding-bottom: 20px;
        
    }

 }

 
